@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    color: #393d41;
    line-height: 1.65;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}

/*header*/

#primo{
    margin-bottom: -23px;
}
header {
    background-color: black;
}
header img {
    margin: 40px 0;
}

/*main*/

#corso {
    background-image: url(../images/banner.jpg);
    background-size: contain;
}
h1 {
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}
button {
    background-color: #f04c2f;
    border: none;
    padding: 15px;
    border-radius: 2px;        
}
#corso a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
